In [1]:
import pandas as pd
import numpy as np

In [2]:
results = pd.read_csv('/Users/borjagonzalez/Desktop/Projects/results.csv')
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44929,2023-09-12,Belgium,Estonia,5,0,UEFA Euro qualification,Brussels,Belgium,False
44930,2023-09-12,Sweden,Austria,1,3,UEFA Euro qualification,Stockholm,Sweden,False
44931,2023-09-12,Switzerland,Andorra,3,0,UEFA Euro qualification,Sion,Switzerland,False
44932,2023-09-12,Israel,Belarus,1,0,UEFA Euro qualification,Tel Aviv,Israel,False
44933,2023-09-12,Romania,Kosovo,2,0,UEFA Euro qualification,Bucharest,Romania,False

In [3]:
True and True

True

In [4]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

False

In [5]:
age = [12, 24, 56, 33, 77]

weight = [45, 74, 79, 77, 63]

In [6]:
np_age = np.array(age)

np_weight = np.array(weight)

In [8]:
np_age

(5,)

In [ ]:
np_sum = np_age + np_weight
np_sum

array([ 57,  98, 135, 110, 140])

In [ ]:
np_age[np_age > 56]

array([77])